/* Colors */

$black: #000;
$white: #fff;
$red: #ff7272;

$blue: #00bde3;
$blue_hover: #00a8ca;

$blue-green: #26d5ba;
$blue_green_hover: #26bba4;

$green: #189E89;

$grey: #404040;
$light-grey1: #818181;
$light-grey2: #e4e7e7;
$light-grey3: #9d9d9d;
$light-grey4: #e1e1e1;
$light-grey5: #f5f5f5;
$light-grey6: #F7F7F7;
$light-grey7: #BDC1C0;
$light-grey8: #DDDFDE;
$light-grey9: #c2c6c6;
