@font-face {
    font-family: 'icon_font';
    src: url('./fonts/icon_font.eot?30213851');
    src: url('/fonts/icon_font.eot?30213851#iefix') format('embedded-opentype'),
    url('/fonts/icon_font.woff?30213851') format('woff'),
    url('/fonts/icon_font.ttf?30213851') format('truetype'),
    url('/fonts/icon_font.svg?30213851#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon-font:before {
    font-family: 'icon_font';
}

.icon-facebook:before {
    content: '\e800';
}

.icon-twitter:before {
    content: '\e801';
}

.icon-mail:before {
    content: '\e802';
}

.icon-phone:before {
    content: '\e803';
}

.icon-gplus:before {
    content: '\e804';
}

.icon-linkedin:before {
    content: '\e805';
}

.icon-skype:before {
    content: '\e806';
}

.icon-phone-1:before {
    content: '\e807';
}

.icon-mail-1:before {
    content: '\e808';
}

.icon-mail-2:before {
    content: '\e809';
}

.icon-left-dir:before {
    content: '\e80a';
}

.icon-right-dir:before {
    content: '\e80b';
}

.icon-menu:before {
    content: '\e80c';
}

.icon-cancel:before {
    content: '\e80d';
}

.icon-spin5:before {
    content: '\e80e';
}

.icon-ok:before {
    content: '\e80f';
}

.icon-user:before {
    content: '\e811';
}

.icon-pdf:before {
    content: '\e810';
}

.icon-play:before {
    content: '\e812';
}

.icon-pause:before {
    content: '\e813';
}

.icon-growing_icon:before {
    content: '\e814';
}

.icon-transparent_icon:before {
    content: '\e816';
}

.icon-stable_return_icon:before {
    content: '\e817';
}

.icon-secure_icon:before {
    content: '\e818';
}

.icon-trade_icon:before {
    content: '\e81a';
}

.icon-easy_icon:before {
    content: '\e815';
}
