@import "../partials/variables";
@import "../partials/mixins";

.projects-list {
    padding-bottom: 50px;
    text-align: center;
    .project-block {
        background-color: $white;
        background-repeat: no-repeat;
        display: inline-block;
        -webkit-background-size: 100%;
        background-size: 100% 280px;
        margin: 40px 30px 0;
        min-height: 450px;
        left: 50%;
        padding: 280px 50px 35px;
        text-align: center;
        vertical-align: top;
        width: 242px;
        @include box-shadow(0, 0, 10px, rgba(0, 0, 0, .16));
        h4 {
            font-size: 24px;
            font-weight: normal;
            line-height: 29px;
            min-height: 73px;
            padding-top: 15px;

        }

        .project-type {
            background: url('/images/marker.png') no-repeat 67px 0;
            display: inline-block;
            height: 65px;
            margin: -37px 0 24px 0;
            padding: 13px 0 0 12px;
            width: 170px;
            i {
                background-repeat: no-repeat;
                display: block;
                height: 23px;
                margin-left: 67px;
                width: 25px;
                &.sun-icon {
                    background-image: url('/images/sun_icon.png');
                }
                &.wind-icon {
                    background-image: url('/images/wind_icon.png');
                    background-position: 2px 0;
                }
                &.bio-icon {
                    background-image: url('/images/bio_icon.png');
                    background-position: 5px 0;
                }
            }
        }

        p {
            color: $light-grey1;
            font-size: 14px;
            line-height: 16px;
            margin-top: 22px;
        }
        .project-location {
            color: $light-grey1;
            font-size: 12px;
            margin-top: 20px;
            text-transform: uppercase;
        }
        .project-statistic {
            background: $light-grey5;
            font-size: 24px;
            display: inline-block;
            height: 92px;
            margin: 10px 10px 0;
            position: relative;
            text-align: center;
            width: 92px;
            @include border-radius(46px);
            span {

                display: block;
                font-size: 24px;
                position: absolute;
                text-align: center;
                top: 26px;
                width: 92px;
                i {
                    color: $blue-green;
                    display: block;
                    font-size: 12px;
                    font-style: normal;
                    margin-top: 5px;
                    text-transform: uppercase;
                }
            }
        }

        .project-price {
            color: $blue;
            font-size: 48px;
            margin: 15px 0 13px 0;
            white-space: nowrap;
            sup {
                font-size: 25px;
                vertical-align: top;
            }
            span {
                color: $blue-green;
                display: block;
                font-size: 14px;
                padding: 6px 0;
                margin: 10px 0 4px;
                text-transform: uppercase;
            }
        }

        &.finished-project .project-price {
            span {
                background-color: $blue-green;
                color: $white;
                margin: 4px 0 10px -50px;
                width: 342px;
            }
        }

        .default-btn {
            display: block;
            margin-top: 20px;
            padding: 22px 65px;
        }

    }
}

@media all and (max-width: 740px) {
    .projects-list {
        .project-block {
            margin: 40px 20px 0;
            padding: 280px 20px 35px;
            min-width: 300px;
            .project-type {
                margin: -37px 0 24px 0;
            }
            &.finished-project .project-price {
                span {
                    margin: 4px -20px 10px -20px;
                    width: auto;
                }
            }
        }
    }
}
