@import "../partials/variables";
@import "../partials/mixins";

.my-investments {
    background: url('/images/map_bg_transparent.png') no-repeat 50% 37px;
    .statistic-circles {
        text-align: center;
    }
    .my-investments-content {
        margin-top: -220px;
        h2 {
            padding-top: 35px;
        }
    }

    .view-all-projects {
        padding: 60px 0 0 0;
        text-align: center;
    }

    .get-back {
        display: inline-block;
        float: left;
        font-size: 16px;
        font-weight: bold;
        line-height: 26px;
        text-transform: uppercase;
        &:before {
            color: $grey;
            font-size: 26px;
            position: relative;
            top: 4px;
            padding-right: 32px;
        }
    }

}
