@import "../partials/variables";
@import "../partials/mixins";

.my-profile-settings-form {
    .separator-with-text {
        span {
            color: $blue-green;
        }
    }
    .address-field {
        label:first-child {
            padding-top: 30px;
            vertical-align: top;
        }
        > div {
            display: inline-block;
            width: 390px;
        }
        .default-input {
            margin: 15px 11px;
            width: 190px;
        }
        .small-input {
            margin-right: 0;
            width: 70px;
        }
    }
    .select2-container {
        margin: 15px 11px;
    }
    .birthday-field {
        select {
            width: 70px;
            &:nth-child(3) {
                width: 140px;
            }
            &:nth-child(4) {
                width: 100px;
            }
        }
    }
    .country-field {
        select {
            width: 365px;
        }
    }
}
