// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

$skinLogo: url("/images/favicon.png ") no-repeat 50% 50%;

.expired {
    background-color: #e73c3c;
}
.paid {
    background-color: #191;
}

@import "active_skin";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.cke_chrome { width: 79.5% !important; overflow: hidden; }
.action_button {
    color: #fff !important;
    background: linear-gradient(180deg, #999, #333) !important;
}

#index_table_users tr.odd, #index_table_users tr.even {
  td.col {
    background-color: #fff;
  }
}

tr.odd, tr.even {
  &.hightlightuser {
    td.col {
      color: #333;
      background-color: #d1d3d3 !important;
      font-weight: 900;
    }
  }
}

.hightlightinputs {
  background: #E07171 !important;
  label {
    color: #fff;
  }
  legend span {
    background: #C73939 !important;
    color: #fff !important;
  }
}

table.project_balance {
  width: 50%;
}
