@import "partials/variables";
@import "partials/mixins";

@media all and (min-width: 1025px) {
    main {
        .key-values {
            li {
                span {
                    @include transition(top 0.3s ease-out 0.1s);
                }
                h5 {
                    @include transition(top 0.3s ease-out 0.1s);
                }
                p {
                    @include transition(bottom 0.3s ease-out 0.1s, opacity 0.7s ease-in-out);
                    opacity: 0;
                    bottom: -140px;
                }
                &:hover p {
                    bottom: 40px;
                    opacity: 1;
                }
                &:hover span, &:hover h5 {
                    top: -70px;
                }
            }
        }
    }

    header {
        nav {
            ul {
                display: inline-block !important;
            }

        }
    }



}

@media all and (max-width: 1024px) {
    main {
        .key-values {
            ul {
                margin-left: 2%;
            }
            li {
                padding-top: 75px;
                width: 49%;
                &:nth-child(4) {
                    border-left: 1px solid $light-grey2;
                }
                &:nth-child(2n + 1) {
                    border-left: 0
                }
                h5 {
                    font-size: 26px;
                }
                p {
                    padding: 20px;
                }
            }
        }
        .projects-statistic {
            .statistic-circles {
                li {
                    margin: 0 12px 12px;
                }
            }
        }
    }

    footer {
        .site-links {
            li {
                margin: 0 8px 8px;
                a {
                    margin-left: 0;

                }
                &:before {
                    content: none;
                }
            }
        }
    }

    header {
        nav {
            background: $white;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            @include box-shadow(0, 0, 10px, rgba(0, 0, 0, 0.5));

            ul, ul.auth-links, ul.site-links {
                display: none;
                padding-left: 0;
                padding-right: 0;
                position: relative;
                top: 93px;
                z-index: 2;
                background: #FFF;
                &.menu-opened {
                    display: list-item;
                }
            }

            ul, .auth-links {
                li {
                    display: block;
                    a, span {
                        display: block;
                        font-size: 30px !important;
                        font-weight: bold !important;
                        padding: 10px 0 5px 0 !important;
                        text-align: center;
                    }
                    &.active a, a:hover, &.active span, span:hover {
                        border-color: transparent !important;
                        color: $grey;
                    }
                    &:first-child {
                        padding-top: 40px;
                    }
                    &.login-link  {
                        .active a, a:hover, &.active span, span:hover {
                            color: $blue-green;
                        }
                        a:before {
                            display: none;
                        }
                    }
                }
            }

            .menu-control {
                display: block;
                position: absolute;
                left: 15px;
                top: 25px;
            }
            .auth-menu-control {
                left: auto;
                right: 15px;
            }
        }
    }

    .main-slider {
        .slider-content {
            padding: 12% 0;
            h1 {
                font-size: 60px;
                line-height: 68px;
                span {
                    font-size: 40px;
                }
            }
        }
    }

    .project-description {
        width: 100%;
    }

    .registration-page {
        .default-text {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }

}

@media all and (max-width: 740px) {
    .subscription {
        form {
            padding: 0 20px 36px;
            input[type='text'], input[type='email'] {
                margin: 5px;
                width: auto;
            }
            .default-btn {
                padding: 16px 30px;
            }
        }
    }

    .popup {
        .popup-body {
            margin-left: 0;
            left: 0;
            top: 50px;
            width: 100%;
            form {
                padding: 0;
                .default-input {
                    margin: 5px 0;
                    width: auto;
                }
            }
        }
        .popup-title {
            padding: 30px 0 20px 0;
        }
        .popup-additional {
            padding: 40px 20px 50px;
        }
    }

    .registration-page {
        h1 {
            font-size: 36px;
        }
        .default-text {
            top: -75px;
            padding: 0 !important;
        }
        .inner-page-main-title {
            top: -181px;
            //line-height: 32px;
        }
        form {
            .field, #error_explanation {
                padding: 0 45px 25px 20px;
                text-align: left;
                width: auto;
                .field_with_errors {
                    display: block;
                }
                span.icon-ok {
                    right: 5px;
                }
            }

            .default-label {
                display: block;
                padding: 0 0 15px 12px;
                width: auto;
            }
            .default-input {
                width: 85%;
            }
            .default-btn {
                padding: 16px 50px;
            }
            label.error {
                position: relative;
                left: 15px;
                top: 15px;
            }
            .select2-container {
                width: 92% !important;
            }
        }
    }

    .my-profile-settings-form {
        .address-field {
            > div {
                width: auto;
            }
            .default-input {
                width: 85%;
            }
        }
    }

    .project-description {
        .project-description-content {
            .project-description-content-row {
                overflow: hidden;
                border-top: 1px solid $light-grey2;
                text-align: center;
                > div {
                    float: none;
                    width: 100%;
                }
            }
        }
        .project-grid {
            table {
                width: 100%;
                tr {
                    th, td {
                        padding: 10px 5px;
                    }
                }
            }
        }
        .project-controls {
            .default-btn {
                padding: 22px;
            }
        }
    }

    .my-investments {
        .projects-slider {
            width: auto;
        }
        .view-all-projects {
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .get-back {
            float: none;
        }
        .my-investments-content h2 {
            padding-bottom: 30px;
        }
    }

    .legal-page {
        padding-top: 130px;
    }

    .contact-page {
        .default-text {
            padding-top: 0;
        }
    }

}

@media all and (max-width: 640px) {
    .main-slider {
        .slider-content {
            h1 {
                font-size: 38px;
                line-height: 42px;
                padding-top: 10px;
                span {
                    font-size: 28px;
                    line-height: 32px;
                }
            }
        }
    }

}

@media all and (max-width: 1600px) {
    .projects-slider {
        width: auto;
        .swiper-button-prev, .swiper-button-next {
            display: none;
        }
    }
    .idea-page {
        .separator-with-text {
            width: 100%;
        }
    }
}
